name: Build Trojan C++ macOS ARM64

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest  # 使用 Apple Silicon 运行器
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          brew install cmake boost openssl@3

      - name: Configure and Build
        run: |
          mkdir build && cd build
          # 必须告诉 CMake OpenSSL 的路径，因为 brew 安装的 openssl 是 keg-only 的
          cmake .. \
            -DCMAKE_PREFIX_PATH="$BOOST_ROOT;$OPENSSL_ROOT_DIR" \
            -DBOOST_ROOT="$BOOST_ROOT" \
            -DOPENSSL_ROOT_DIR="$OPENSSL_ROOT_DIR" \
            -DENABLE_MYSQL=OFF \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_POLICY_DEFAULT_CMP0167=OLD
          make -j$(sysctl -n hw.ncpu)

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: trojan-macos-arm64
          path: build/trojan
